.benner {
    background: #e554731a;
    display: flex;
    padding: 50px 30px 0px 100px;
}

.benner-cont {
    align-items: center;
    padding-bottom: 50px;
}

.benner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;
}

.benner-text {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;

    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: 0px;
}

.profile-pic {
    width: 535px;
    margin: 100px 0px 0px 100px;
}

/* main section header */

.section {
    text-align: center;
}

.section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0px;
}

.section-text {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
}

.img-main {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
}

.img-head {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.img-main1 {
    width: 350px;
    border-radius: 200px 200px 0px 0px;
    background: #a7216226;
}

.img-main2 {
    width: 350px;
    border-radius: 200px 200px 0px 0px;
    background: #0597a026;
}

.img-main3 {
    width: 350px;
    border-radius: 200px 200px 0px 0px;
    background: #477d1126;
}
.img-i{

}


.img-title {
    color: #000;
}

.shed-section {
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: #2727270d;
    margin: 0px 150px;
}