.benner {
    background: #e554731a;
    display: flex;
    padding: 50px 100px 0px 100px;
    align-items: center;
}

.hbenner-titel {
    color: #272727;
    
    font-size: 80px;
    font-weight: 00px;
}

.hbenner-text {
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.button {
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;

    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: 0px;
}
.profile-pic{
    width: 500px;

}